html {
  height: 100%;
  width: 100%;
}

.p-jf83iw {
  text-align: center;
  font-size: 50px;
}

table {
  border: 1px solid black;
  margin: auto;
  border-radius: 5px;
  padding: 7px;
}

td {
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
}

th {
  border: 1px solid black;
  margin: 5px;
  font-size: 30px;
  padding: 7px;
  border-radius: 5px;

}

.p-dkji392 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.container {
  position: relative;
  width: 50px;
  height: 50px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.index5 {
  z-index: 5;
}
.prConteiner {
  width: clac(90vw - 2.5px);
  height: clac(90vh - 2.5px);
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: white;
  border: 5px solid black;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  display: none;
}

.h1_ {
  font-size: 35px;
  font-family: Apple Chancery, cursive;
}
.h2_ {
  font-size: 30px;
  font-family: serif;
}

.img-jxmfj8381jd8d82 {
  width: 425px;
  height: 425px;
}